<h1 class="display-4">Welcome To Spoiler</h1>
<p class="mb-4">This is an app for managing summaries of media in order to be able to recall the plot when the new entry in the series comes out.</p>
<a href="/summaries/list" class="btn btn-light">View summaries</a>
<a href="/summaries/add" class="btn btn-light">Add summary</a>